In [1]:
import numpy as np
import random
import pandas as pd

In [2]:
# UNFINISHED, needs updateing to do blocking

In [3]:
num_of_treatments = 6
num_of_reps = 8

# reps_wide and reps_long are the two trial dimentions in number of reps and will be blocked, unblocked_reps is used when an extra rep is on the end etc. and is not blocked 
reps_layout = {'reps_wide':2, 'reps_long':3, 'unblocked_reps':2}

# check the reps_layout is ok
if reps_layout['reps_wide']*reps_layout['reps_long']+reps_layout['unblocked_reps'] != num_of_reps:
    print("WARNING: layout does not match blocking")
# need to some how do a shape thing so that we can have reps next to each other
# once that is done need to work out how to enforce blocking

num_of_plots = num_of_treatments*num_of_reps

u_treatments = [f'T{i}' for i in range(num_of_treatments)]
u_reps = [f'R{i+1}' for i in range(num_of_reps)]

trial_layout_init = np.empty((reps_layout['reps_long'], reps_layout['reps_wide']*num_of_treatments), dtype=object)
unblocked_layout_init = np.empty((num_of_treatments, reps_layout['unblocked_reps']), dtype=object)
print(trial_layout_init)

def randomize_list(in_list):
    return(random.sample(in_list, len(in_list)))

[[None None None None None None None None None None None None None None
  None None None None None None None None None None None None None None
  None None None None]
 [None None None None None None None None None None None None None None
  None None None None None None None None None None None None None None
  None None None None]]

In [4]:
unblocked_layout_init

array([], shape=(16, 0), dtype=object)

In [5]:
for rw in range(0, reps_layout['reps_wide']*num_of_treatments, num_of_treatments):
    for rl in range(0, reps_layout['reps_long']):
        trial_layout_init[rl,rw:rw+num_of_treatments] = randomize_list(u_treatments)
for ubr in range(reps_layout['unblocked_reps']):
    unblocked_layout_init[:,ubr] = randomize_list(u_treatments)

In [8]:
pd.DataFrame(trial_layout_init)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,T14,T6,T12,T2,T5,T8,T0,T13,T7,T1,...,T15,T2,T11,T7,T6,T1,T4,T13,T14,T10
1,T2,T15,T13,T8,T7,T5,T1,T12,T14,T6,...,T2,T1,T10,T5,T0,T15,T9,T3,T13,T11

In [7]:
pd.DataFrame(unblocked_layout_init)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]